
@{
    ViewBag.Title = "Sent";
}

<style>
    h2 {  
        color: dodgerblue;      
        font-family: 'Roboto Slab', serif;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #0542d3;  
    }

</style>



<body style="background-image:url('../../img/Bear2.gif');"> 

    <h2>@ViewBag.Message</h2>


</body>



@*<style>
    .body {
    background-image: url('../../img/Bear.gif');
    margin: 0;
}
</style>*@

